{% load static %}

<html>
<head>
<title>Happy Holidays from the Gunthers during Winter 2022-23!</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/holidaycard.css' %}">
</head>
<div id=htext>Happy Holidays!</div>
<body><div>
<img id="collage" alt="2018 Events"  class="center" data-type="image" style="width: 1200px; height: 1150px;" src="{% static 'images/xmas2023.jpg' %}">
</div> 
<br>
<br>

<br>
<br>

<div id=hdrtext>2023 IN REVIEW</div>

<div id=holidaytext> 
{{posts.last.text |linebreaksbr}}
</div>
<hr>
<table><tbody><tr>
<div id=htext> 
Warmly,<br>
Nick, Susanna,<br>
John, David & Adam<br>
Gunther
<hr>
</div>
<br>

<div id=hdrtext>OUTTAKES...</div>

<table>
<tr>
<td>
<div class="photo">Did Someone Say Snow?</div>
<div class="center">
<img id="close" alt="Twins Ski" class="center" data-type="image" style="width: 600px; height: 400px; object-fit: cover;" src="{% static 'images/snow.jpg' %}">
</div>
</td>
<td>
<div class="photo">"Waiting for the Curtain" (C. Ives)</div>
<div class="center">
<img id="close" alt="Adam Apres Ski" class="center" data-type="image" style="width: 600px; height: 400px; object-fit: cover;" src="{% static 'images/theaterwmom.jpg' %}">
</div>
</td>
<td>
<div class="photo">A Really Big Vermont Rental</div>
<div class="center">
<img id="close" alt="Big Van" class="center" data-type="image" style="width: 600px; height: 400px; object-fit: cover;" src="{% static 'images/really_big_rental.jpg' %}">
</div>
</td>
<td>
<div class="photo">Short Intro to Minimal Area Surfaces</div>
<div class="center">
<img id="close" alt="Bubble" class="center" data-type="image" style="width: 600px; height: 400px; object-fit: cover;" src="{% static 'images/intro_minimum_area.jpg' %}">
</div>
</td>
</tr>

<tr>
<div class="photo">Goodbye New York</div>
<div class="center">
<img id="close" alt="Sunrise East River" class="center" data-type="image" style="width: 1000px; height: 600px; object-fit: cover;" src="{% static 'images/bye_ny.JPG' %}">
</div>
</tr>
</table>
<br>
<div class="photo">
Lake Camp from the Air (more at https://www.coeandcoearchitecture.com/shadowlake-1
</div>
<img id="close" alt="Gunther ADU from Above" class="center" data-type="image" style="width: 1000px; height: 600px; object-fit: cover;" src="{% static 'images/Gunther_Greensboro_Air.png' %}">
<hr>
</body></html>	
